# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
env/
venv/
ENV/
*.bak

# VS Code / IDE
.vscode/
.idea/

# Byte-compiled / cache
*.pyc
*.pyo
*.pyd
__pycache__/
